.sidebar-nav {
  min-width: 200px;
  border-right: 2px solid #2e303a;
  padding-right: 1rem;
}

.sidebar-nav h3 {
  margin-bottom: 1rem;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin-bottom: 1.25rem;
}

.sidebar-btn {
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
  display: block;
  border-left: 3px solid transparent;
  padding-left: 0.5rem;
  font-weight: normal;
  width: 100%;
  outline: none;
  color: #aaaaaa;
}

.sidebar-btn:hover {
  background-color: rgba(88, 101, 242, 0.1);
}

.sidebar-btn:focus {
  outline: none;
}

.sidebar-btn.active {
  font-weight: bold;
  color: #5865F2;
  border-left: 3px solid #5865F2;
}

.sidebar-desc {
  margin: 0.25rem 0 0 0.75rem;
  font-size: 0.8rem;
  color: #888;
}
