#statistics-info {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#statistics-info h2 {
    font-size: 40px;
    font-weight: 500;
    color: #383863;
    margin-bottom: 16px;
    margin-top: -20px;
}

#statistics-info p {
    font-size: 20px;
    color: #999999;
    line-height: 1.7;
    margin-bottom: 12px;
}

#statistics-info p:last-child {
    margin-bottom: 0;
}

#statistics-info a {
    display: inline;
    font-size: inherit;
    color: #185FA5;
    margin-bottom: 0;
}