.video-wrapper {
    margin: 0;
}

/* This trick keeps the video at 16:9 ratio on any screen size */
.video-wrapper iframe {
    width: 75%;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 8px;
    display: block;
    padding-left: 160px;
}

.video-wrapper figcaption {
    font-size: 12px;
    color: #888780;
    margin-top: 8px;
    text-align: center;
}